html{
  background-color: #ffe488;
}

button{
  background-color:#ab6f2e;
  font-weight: bold;
  color: black;
  border: medium solid #ffe488;
}

button:hover{
  background-color:  yellowgreen;
  font-weight: bold;
  color: black;
  border: medium solid rgba(255, 213, 139, 0.55);
}

a{
  text-decoration: none;
  list-style-type: none;
  //font-weight: bold;
  color: black;
  text-decoration: underline;
}

a:hover{
  color:#ab6f2e;
}

a li:before {
  content: "o"; /* Insert content that looks like bullets */
  padding-right: 1.5em;
  color: #ab6f2e; /* Or a color you prefer */
}

h3{
/*list-style-type: arrow;*/
  color: black;
  background-color: #fff6b6;
  font-weight: bold;

}

#fleche{
  //font-weight: bold;
  color: #ab6f2e;
  font-style: italic;
}

#identifiant{
  color : black;
  //font-weight: bold;
}

#total{
  font-weight: bold;
  color: #ab6f2e;
}

table{
  border: medium solid #ffe488;
  width: 100%;
}

#title2{
  font-style: italic;
  text-align: center;
}

table tr:nth-child(even){
  border-bottom: thin solid #ffe488;
  border-top: thin solid #ffe488;
  background-color: rgba(255, 213, 139, 0.55);
}

/*table tr:nth-child(1) {
  font-weight: bold;
}*/

thead{
  font-weight: bold;
  text-align: center;
  background-color: #ab6f2e;
}

table tr td td {
  text-align: center;
}
