<h2 id="title2"> ~ User  Management ~ </h2>


<html>
<h3> Choose one user to see his/her wallets : </h3>
<div>
<ul>
  <li *ngFor="let user of users">
    <a href="#user{{user.id}}" (click)="details(user)">{{user.name}}</a>

    <!--<ul *ngFor="let wallet of user.wallets">
    {{wallet}}
    </ul>-->
  </li>
</ul>
</div>

<div #addUser>
  <form>
    <input type="text" name = "userName" placeholder="name"
           [(ngModel)]="createdUser.name" (click)="createdUser.name =''">

    <button (click)="createUser()" [disabled]="createdUser.name?.length<5">Add a new User</button>
  </form>
</div>

<h3>User details :</h3>
<div *ngIf="selectedUser">
  <!--{{selectedUser.name.anchor()}}-->
  <ol id="fleche">
    <li *ngFor="let wallet of selectedUser?.wallets "> {{wallet.name}}
    </li>
  </ol>

</div>
<div>
<form>
  <input type="text" name = "name" placeholder="name"
              [(ngModel)]="createdWallet.name" (click)="createdWallet.name=''">

  <button (click)="createWallet()" [disabled]="createdWallet.name?.length<5">Add a new Wallet</button>
</form>
</div>

<br>



</html>

